#text{font-family: 'Fira Sans', sans-serif;}
#text_head{font-family: 'Fira Sans', sans-serif; background-color: black;}


.header {
  padding: 0.2%;
  text-align: center;
  background: #000000;
  color: white;
  background-color: black;
  font-size: 30px;
}

#1{
 background-color: blue;
}
